<.flash_group flash={@flash} />
<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
  <%= if @current_user do %>
    <h1>Welcome to Roster</h1>
    <p>Imagine all the things we can put in this page....</p>
    <p>For now use the links in the nav bar above to get started.</p>
  <% else %>
    <h1>Log in or sign up to get started</h1>
  <% end %>
</div>
